{% extends "navbar.html" %}

{% block content %}
    <div class="container mt-5">
        <div class="row">
            <div class="col-md-8">
                <div class="welcome-message">
                    {% if current_user %}
                        <p>Bienvenue <span>{{ current_user.prenom }} {{ current_user.nom }}</span></p>
                    {% endif %}
                </div>
                <h1>Bienvenue sur notre site de gestion des notes</h1>
                <p class="lead">Gérez facilement vos notes, créez-en de nouvelles, consultez celles existantes et organisez vos idées.</p>
                <p>Que vous soyez étudiant, professionnel ou simplement quelqu'un qui aime prendre des notes, notre site vous offre les outils nécessaires pour garder vos pensées bien organisées. Créez, modifiez, et consultez vos notes à tout moment.</p>
                <a href="/notes/list" class="btn btn-primary btn-lg">Voir toutes les notes</a>
            </div>
            <div class="col-md-4">
                <!-- Ajoutez ici d'autres éléments comme des astuces de prise de notes, des nouvelles fonctionnalités, etc. -->
            </div>
        </div>
    </div>
{% endblock %}
